body {
    background-color: #eee;
}

h3 {
    margin-bottom: 20px;
    font-size: 1.2rem;
    font-weight: 700;
    font-family: 'roboto';
}

h4 {
    margin-bottom: 10px;
    font-size: 1.1rem;
    font-weight: 600;
    font-family: 'roboto';
    color: #003030
}

p {
    font-family: 'Lato', monospace;
    color: #606060;
    font-weight: 400;
    line-height: 20px;
    text-align: left;
}

.gray-text {
    color: gray;
}

.container {
    width: 100%;
    margin: 0 auto;
}
.inner-container {
    width: 100%;
    margin: 0 auto;
}
@media (min-width: 992px) {
    .container {
        width: 800px;
    }
    .inner-container {
        width: 700px;
    }
}
@media (min-width: 1200px) {
    .container {
        width: 900px;
    }
    .inner-container {
        width: 800px;
    }
}