.detail-line {
    border: 1px solid silver;
    padding: 5px 12px;
    border-radius: 5px;
    margin-bottom: 10px;
    text-align: left;
    transition: .2s;
}

.detail-line:hover {
    border-color: gray;
}

.detail-line span {
    text-overflow: clip;
    font-family: 'Lato', monospace;
    color: #606060;
    line-height: 20px;
    text-align: left;
}