@font-face {
    font-family: Lato;
    src: url(../assets/fonts/Lato/Lato-Regular.ttf);
}

@font-face {
    font-family: Baloo;
    src: url(../assets/fonts/Baloo_Thambi/BalooThambi-Regular.ttf);
}

@font-face {
    font-family: Pacifico;
    src: url(../assets/fonts/Pacifico/Pacifico-Regular.ttf);
}



