.movie-preview {
    margin-top: 60px;
    border-bottom: 1px solid silver;
    padding: 0 10px 20px;
}


.chips-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    height: 148px;
}

.movie-preview.borderless{
    border-bottom: none;
}

@media (min-width: 768px) {
    .movie-preview {
        padding: 0 100px 20px;
    }
}