.movie-edit {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
}

.movie-edit h3 {
    text-align: center;
}

.movie-edit form {
    background-color: white;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    /*  */
    justify-content: space-evenly;
    align-items: center;
    /*  */
    position: relative;
}

.movie-edit form .wrapper {
    height: 60vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.movie-edit form div {
    width: 70vw;
}

@media (min-width: 768px) {
    .movie-edit {
        position: fixed;
        display: flex;
        justify-content: center;
        align-items: center;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
    }
    
    .modal-screen {
        position: absolute;
        background-color: gray;
        opacity: 0.8;
        width: 100vw;
        height: 100vh;
    }
    
    .movie-edit form {
        width: unset;
        height: unset;
        background-color: white;
        opacity: 1;
        z-index: 1;
        padding: 50px;
        border-radius: 10px;
    }
    
    
    .movie-edit form .wrapper {
        height: 340px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }
    
    .movie-edit form div {
        width: 200px;
    }
}
    
    