.movies-page .position-sticky {
    top: calc(100vh - 42px);
    color: black;
    z-index: 1;
    opacity: 0.8;
    left: 2px;
    justify-self: flex-start;
}

.movie-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
