.movies-page .container {
    border: 1px solid silver;
    border-radius: 5px;
    background-color: #fff;
    margin-bottom: 30px;
}

.movies-page .top-wrapper {
    border-bottom: 1px solid silver;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media (min-width: 768px) {
    .movies-page .top-wrapper {
        padding: 20px 70px;
    }

}


