.movie-preview {
    margin-top: 60px;
    border-bottom: 1px solid silver;
    padding: 0 10px 20px;
}

.details-wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 500px;
    margin: 20px auto 0;
}

.movie-preview.borderless{
    border-bottom: none;
}

@media (min-width: 768px) {
    .movie-preview {
        padding: 0 100px 20px;
    }
    .details-wrapper {
        width: 70%;
        max-width: unset;

    }
}