.nav-bar {
    background-color: #412d00;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 5px solid rgb(182, 150, 107);
    padding: 3px 10px;
    font-family: 'Baloo', cursive;
    font-size: 1.5rem;
    color: #ffb400;
}

@media (min-width: 768px) {
    .nav-bar {
        margin-bottom: 50px;
    }
}